@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Project01</h1>
    <p>用户：@User.Identity.Name</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button class="btn btn-primary" onclick="Sava()">添加用户</button>
@Html.AntiForgeryToken()
<script>
    function Sava() {

        $.ajax({
            type: "post",
            dataType: "html",
            headers:
            {
                "X-CSRF-TOKEN-GSW": $("#GswAntiforgeryFieldname")
            },
            url: "/adduser",
            success: function (result) {
                console.log("调用成功！");
            },
            error: function (err, scnd) {
                alert(err.statusText);
             }
            });
    }
</script>