@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Project01</h1>
    <p>用户：@User.Identity.Name</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input type="text" id="username" class="form-control" style="width:200px" />
<br />
<button class="btn btn-primary" id="adduser" onclick="adduser()">添加用户</button>
@Html.AntiForgeryToken()
<script>
    function adduser() {
        $.ajax({
            type: "POST",
            data: JSON.stringify({
                "UserName": $("#username").val(),
                "RoleName": "管理员"
            }),
            contentType: "application/json",
            dataType: "json",
            headers:
            {
                "X-CSRF-TOKEN-GSW": $("#GswAntiforgeryFieldname").val()
            },
            url: "/adduser",
            success: function (result) {
                console.log(result);
            },
            error: function (err, scnd) {
                alert(err.statusText);
            }
        });
    }
</script>
